.root {
	-fx-background-color: white;
	-fx-fomt-size: 14px;
}

TextField {
	
	-fx-text-fill: blue;
	-fx-border-radius: 4px;
	-fx-font-size:12px;
	-fx-cursor: text;
}

.BLogin {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-cursor: pointer;
}